[Unit]
Description=Daily resticprofile backup timer
Requires=resticprofile-backup.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
